p {
    margin-bottom: 8px;
}

.checkout-page-title {
    color: slategrey;
}

.checkout-page-text {
    color: black;
}

.checkout-page-button {
    background-color: #FFFFFF;
    border: 3px solid #4DDC8D;
    border-radius: 50px;
    width: 280px;
    height: 48px;
    color: #4DDC8D;
    font-size: 21px;
    text-align: center;
    margin-bottom: 30px;
}

.checkout-page-button:hover {
    cursor: pointer;
    background-color: #4DDC8D;
    color: white;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100% - 341px);
}

.checkout-input {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(132, 146, 166, 0.48);
    border-radius: 10px;
    width: 280px;
    height: 23px;
    padding-left: 10px;
}

.checkout-select {
    border-radius: 10px;
    width: 280px;
    height: 25px;
    border: 1px solid rgba(132, 146, 166, 0.48);
}

.checkout-input-card {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(132, 146, 166, 0.48);
    border-radius: 10px;
    width: 280px;
    height: 23px;
    padding-left: 10px;
}

.checkout-input-cvv {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(132, 146, 166, 0.48);
    border-radius: 10px;
    width: 55px;
    height: 23px;
    padding-left: 10px;
}
