.center {
    align-items: center;
    justify-content: center;
}

.category {
    margin-top: 10px;
    font-weight: bold;
    border: none;
    background-color: #b6f5d2;
    color: #47525E;
    font-size: 17px;
    line-height: 22px;
    width: 156px;
    height: 44px;
    text-align: center;
}

#header {
    position: fixed;
    background-color: #b6f5d2;
    padding: 1%;
    width: 100%;
}

#searchbar {
    padding-left: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 539px;
    height: 45px;
    font-size: 26px;
    border: none;
}

#upper-div {
    display: flex;
}

#logo {
    margin-right: 35px;
}

#lupa {
    position: relative;
    right: 40px;
    top: 2px;
}

#login {
    position: relative;
    right: 10px;
    background-color: rgba(0, 242, 110, 0.48);
    border-radius: 20px;
    width: 164px;
    height: 50px;
    border: none;
    font-size: medium;
    font-weight: bold;
    color: #47525E;
    margin-right: 5px;
}

#login:active {
    position: relative;
    top: 1px;
    box-shadow: 1px 1px grey;
}

#categories {
    justify-content: center;
    text-align: center;
}