.destaques {
    min-height: calc(100% - 341px);
}

.destaques h1 {
  color: #47525E;
  font-size: 35px;
  line-height: 52px;
  text-align: left;
  padding-left: 80px
}

.destaques-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.carousel-div-container {
  height: 200px;
  display: flex;
  width: 1200px;
  justify-content: center;
  background-color: skyblue;
}

.carousel-div-container-page {
  width: 1200px;
}

.carousel-div-container h3 {
  color: slategray
}

.carousel-text {
  color: black;
}

#home {
  display: flex;
  flex-direction: column;
}

#slider-section {
  display: flex;
  align-items: center;
  justify-content: center;
}