.destaques {
    min-height: calc(100% - 341px);
}

.destaques h1 {
  color: #47525E;
  font-size: 35px;
  line-height: 52px;
  text-align: left;
  padding-left: 80px
}

.destaques-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}