#main-content {
    display: flex;
    justify-content: center;
    min-height: calc(100% - 341px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#products-container {
    margin: 20px;
    display: flex;
    width: 1080px;
    flex-wrap: wrap;
}

#main-content h2 {
    align-self: flex-start;
    font-size: 1.5em;
    color: #47525E;
}

#main-content section span {
    color: darkgreen;
    max-width: 1200px;
}

#main-content section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 1200px;
}