#main-content {
    display: flex;
    justify-content: center;
    min-height: calc(100% - 333px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 236px;
}

#main-content h2 {
    align-self: flex-start;
    font-size: 1.5em;
    color: #47525E;
}

#main-content section p {
    color: darkgreen;
    max-width: 1200px;
}

section {
    height: 1000px;
    
}